
body{
     border-left: 500px;
     border-right: 500px;
}
.first{
    width: 200px;
    height: 50px;
    background-color: #4aaaa5; 
    float: left;
    margin: 1px;
    text-align: center;
    padding: 1%;
}

.mainsectioncontent{
    width:960px;
    background-color: #ffffff;
    display: block;
    float: middle; 
    padding: 10px;
    border:solid;
    border-color: lightgrey;
    border-top-width: 2px;
}
#animals{
    background-color: #4aaaa5;
    width: 200px;
    text-align: center;
    position: relative;
    display: block;
    
       
}
#nature{
    background-color: #4aaaa5;
    width: 200px;
    text-align: center;
    position: relative;
    display: block;
    
    
   

}
#Architecture{
    background-color: #4aaaa5;
    width: 200px;
    text-align: center;
    position: relative;
    display: block;
    
   
    
}
#tech{
    background-color: #4aaaa5;
    width: 200px;
    text-align: center;
    position: relative;
    display: block;
    
   

}
#grayscale{
    background-color: #4aaaa5;
    width: 200px;
    text-align: center;
    position: relative;
    display: block;
    height:15px;
   
   

}

li{
    list-style-type: none;
    display: inline;
    margin: 5px;
    float: right;
    margin-top: 5%;
    
}
.wrapper{
    background-image: url("folk-pattern.png");
    padding: 10%;
    padding-right: 100px;
    border:solid;
    border-color: #ffffff;
    border-color: lightgrey;
    border-top-width: 2px;


}
h1{
    color:#ffffff;

}
h2{
    font-size: 48px;
    font-style: times;
    border-style: solid;
    border-color: #ffffff;
    border-bottom-color: #666666;
    border-width: 98%;
    color:#4aaaa5;
    
}
.header{
    background: #ffffff;
    height: 200px;
    width:fit-content;
    margin: 4%;
}
.display{
    display: flex;
    float: left;
    padding: 3px;
    margin:2px;
}

#header{
    background: #ffffff;
}
.footer{
    background-color:#666666;
    display: block;
    text-align: center;
    height: 30px;
    widows: 1000px;

}
.bordertop{
    background: #4aaaa5;
    height: 8px;
}
.title{
    font-size: 20px;
    font-style: times;
    color: #ffffff;
    background:#4aaaa5;
    width: 200px;
    text-align: center;
    padding: 2px;
    position: relative; 
    left:130px;

}
.figure{
    height: 10px;
    width: 100px;
}
.fl{
    float: left;
    margin: 7px;
     
}
.clear{
    clear: both;
}
img{
    height: 200px;
    width: 200px;
}
@media screen and (max-width:980px){
    .wrapper{max-width: 100%;} 
    .mainsectioncontent{max-width: 100%;} 
    .boardertop{ max-width: 100%;}
    .footer{max-width: 100%;}
   
}
@media screen and (max-width: 768px){
    .wrapper{max-width: 100%;} 
    .mainsectioncontent{max-width: 100%;} 
    .boardertop{ max-width: 100%;}
    .footer{max-width: 100%;}
    
}
@media screen and (max-width: 680px){
    .wrapper{max-width: 100%;} 
    .mainsectioncontent{max-width: 100%;} 
    .boardertop{ max-width: 100%;}
    .footer{max-width: 100%;}
    header{width: static;}
    li{width: static;}
}
  